<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
    	<class name="mobileworldauntomationAll.browser"/>
       <class name="mobileworldauntomationAll.homwpage"/>
       <class name="mobileworldauntomationAll.order"/>
       <class name="mobileworldauntomationAll.contactus"/>
       <class name="mobileworldauntomationAll.signup"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
